#!/bin/bash

# Example secrets loader for 1Password CLI.
# Copy to ~/.secrets.op.sh and customize.

eval $(op signin my)

# Example export:
# export EXAMPLE_TOKEN=$(op get item "Example" | jq -r '.details.sections[0].fields[0].v')
